body{
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
   background-color: blue;
   color: yellow;
   text-align: center;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#starters_image_div{
    border: 5px solid blue;
    padding: 10px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 36%;
}

.pokemon_images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 36%;
}

#bulbasaur_container{
    background-color: rgb(56, 219, 56);
    border: 3px solid yellow
}

#charmander_container{
    background-color: orange;
    border: 3px solid yellow 
}

#squirtle_container{
    background-color: rgb(15, 141, 184);
    border: 3px solid yellow 
}